<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
      
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <Environmental Readings from the DHT22 sensor and BMP180 sensor
        <h2><b>BMP180 Readings</b></h2><br>
        <p> temp = {{ btemp }} F </p>
        <p> pressure = {{ bpressure }} </p>
        <p> altitude = {{ balt }} </p>
        <p> sea level pressure = {{ slp }}</p>
        <h2><b> DHT22 readings</b></h2>
        <p> temperature = {{ dt }}</p>
        <p> humidity = {{ dh }}</p>
        <h3> {{  switch    }}                               </h3>

        <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')</script>

    </body>
</html>
